version: '3.8'
services:
  postgresql14:
    container_name: postgresql14
    image: postgres:14-alpine
    restart: unless-stopped
    volumes:
      - ./data:/var/lib/postgresql/data # Persist data volume
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    networks:
      - my-network
networks:
  my-network:
    external: true
